
body{
    background-color: lightgrey
}
.maincontainer{
    margin: auto;
    background-color: coral;
    padding: 5px;
    display: block;
}
header{
    max-height: 200px;
    background-color: lime;
    padding: 8px;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    background-image: url('images/header.jpg');
    position: relative;   
    color: darkorange;

}
.textleft{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3vw;
}
.textright{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3vw;
}
.centertext {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2vw;
    transform: rotate(20deg);


  }
.active{
    padding: 4px;
}

.active a{
    background-color: coral;
    color: black;
    border-radius: 5px;
    padding: 8px;
    border-style:inset;
    border-color: white;
    border-width: 0 8px 6px 0;
}


nav{
    max-height: 100px;
    display: flex;
    background-color: rgb(2, 2, 2);
    padding: 8px;
}
nav>.menu,ul,li{
    display: flex;
    text-decoration: none;
    margin: auto;
    padding: 8px;
    font-weight: 700;
    font-size: 1.2em;
}
li,a{
    text-decoration: none;
    color: coral;
}
 a:hover{
    color: white;
    background-color: coral;   
    
}
.home{
    /* height: 600px; */
    background-image: url('images/homeimage.jpg');
    filter: 10px;
    background-size: cover;
    padding: 8px;
    text-align: center;
}
.content{
    background-color: rgba(0,0,0, 0.3); 
    color: white;
    font-weight: bold;
    border: 2px solid #ec5d09;
    width: 50%;
    margin: auto;
}
#team{
    background-color: rgba(0,0,0, 0.3); 
    color: coral;
    font-weight: bold;
    border: 2px solid white;
    border-style: outset;
    border-width: 8px 2px 2px 8px;
    border-radius: 20px 0 20px 0;
    width: 50%;
    padding: 10px;
    font-family: fantasy;
}
.container{
    background-color: coral;
    background-color: rgba(29, 27, 26, 0.3);
    display: flex;
    justify-content: space-between;
}
.leftside,.rightside{
    padding: 10px;
}
.leftside {
    display: flex;
    flex-direction: column;
    color:white ;
    font-weight: 900;
    text-align: center;
    
    
}
.list{
    font-size: 2.4em;    

}
.list:hover{
    background-color: tomato;
}
.rightside{
    background-image: url('images/header.jpg');
}

.rightside img {
    width: 360px;
    height: 200px;
    opacity: 0.5;   
    justify-content: center;
    transition: transform 0.5s ease;
    
}
.rightside img:hover{
    opacity: 1;
    transform: scale(1.6);
    
;
}

.galcontent,.contactcontent{
    height: 600px;
}
footer{
    height: 150px;
    background-color: rgb(15, 13, 13);
    color: white;
    display: flex;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
#conthead{
    text-align: center;
    padding: 8px;
    background-color: rgba(29, 27, 26, 0.3);
    width: 50%;
    margin: auto;
    color: seashell;    
}
.contactcontent{
    background-image: url('images/contactimage.jpeg');
    
    }
#contactbody{
    padding: 10px;
}
#contleft{
    color: coral;
    padding: 18px;
    align-items: flex-end;
}
form{
    color: coral;
    padding:8px;
    font-size: 1.7em;
    background-color: rgba(56, 33, 22, 0.3);
}
input{
    padding: 8px;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 5px;
}
input[type=submit]{
    background-color: lime;
    color: black;
    padding: 8px;
    border-radius: 4px;
    font-size: 1em;
    width: 30%;   

}
#contright{
    width: 60%;    

}
#contright{
    clear: both;
}