
body{
    background-color: lightgrey
}
.maincontainer{
    margin: auto;
    background-color: rgb(241, 116, 70);
    padding: 5px;
    background-image: url('images/homeimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    max-height: 200px;
    padding: 8px;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: relative;   
    color: darkorange;

}
#logo img{
    border-radius: 20px;
}

nav{
    margin-left: 30%;
    max-height: 100px;
    display: flex;
    padding: 8px;

}
nav>.menu,ul,li{
    margin: auto 15px ;
    padding: 8px;
    font-weight: 700;
    font-size: 1.9vw;
    justify-content: space-around;
}
li,a{
    text-decoration: none;
    color: rgb(3, 3, 3);
    list-style: none;

}
.menu ul {
    display: flex;;
}
.menu ul li {
    background-color: cadetblue;
    border-radius: 20px;
    justify-content:space-evenly;
    padding: 10px;
}
 a:hover{
    color: white;
    background-color: coral;   
    
}

.home{
    /* height: 600px; */
    /* background-image: url('images/homeimage.jpg'); */
    filter: 10px;
    background-size: cover;
    padding: 8px;
    text-align: center;
}

.content{
    background-color: rgba(197, 109, 8, 0.3); 
    color: rgb(68, 176, 209);
    font-weight: bold;
    border:  #f09561;
    border-width:0 1px 5px 0; 
    border-style: inset;
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient( to bottom, #f09561, transparent);
}

.container{
    display: flex;
    justify-content: space-between;
}
    .leftcont{
        margin: 5px 2px;
        background:linear-gradient(to bottom,black,transparent); 
        color: white;
        font-weight: bold;
        font-family: fantasy;
        border-radius: 20px;
        
    }

    #who{
        font-size: 3.4em;
        font-family: monospace;
        text-decoration: underline solid coral;
    }

    .centercont,.rightcont{
        padding: 10px;
    }
    .centercont {
        background: linear-gradient(to bottom, skyblue,transparent);
        display: flex;
        flex-direction: column;
        color: rgb(255, 251, 251);
        font-weight: 900;
        text-align: center; 
        border-radius: 20px;
               
    }

    #service{
        color: tomato;
        font-size: 3.4em;
        font-family: monospace;
        text-decoration: underline;
    }

    .rightcont,.centercont,.leftcont{
        margin: 5px;
        padding: 10px;
        width: 33%; 
    }
    .rightcont img{
        
        border-radius: 20px;
        flex-wrap: wrap;
        overflow: auto;
        width: 100%;
        height: auto;
    }


footer{
        
        background:linear-gradient(to top,black, transparent,black,coral);
        color: white;
        display: flex;
        font-size: 2em;
        font-weight: 700;
        text-align: center;
       
        align-items: center;
        justify-content: center;
    }
    












.textleft{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3vw;
}
.textright{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3vw;
}
.centertext {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2vw;
    transform: rotate(20deg);


  }
.active{
    padding: 4px;
}

.active a{
    background-color: coral;
    color: black;
    border-radius: 5px;
    padding: 8px;
    border-style:inset;
    border-color: white;
    border-width: 0 8px 6px 0;
}















.list{
    font-size: 2.4em;    

}
.list:hover{
    background-color: tomato;
}
.rightside{
    background-image: url('images/header.jpg');
}

.rightside img {
    width: 360px;
    height: 200px;
    opacity: 0.5;   
    justify-content: center;
    transition: transform 0.5s ease;
    
}
.rightside img:hover{
    opacity: 1;
    transform: scale(1.6);
    
;
}

.galcontent,.contactcontent{
    height: 600px;
}

#conthead{
    text-align: center;
    padding: 8px;
    background-color: rgba(29, 27, 26, 0.3);
    width: 50%;
    margin: auto;
    color: seashell;    
}
.contactcontent{
    background-image: url('images/contactimage.jpeg');
    
    }
#contactbody{
    padding: 10px;
}
#contleft{
    color: coral;
    padding: 18px;
    align-items: flex-end;
}
form{
    color: coral;
    padding:8px;
    font-size: 1.7em;
    background-color: rgba(56, 33, 22, 0.3);
}
input{
    padding: 8px;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 5px;
}
input[type=submit]{
    background-color: lime;
    color: black;
    padding: 8px;
    border-radius: 4px;
    font-size: 1em;
    width: 30%;   

}
#contright{
    width: 60%;    

}
#contright{
    clear: both;
}